.header{
    display: flex;
    align-items: center;
    .header__search{
        margin-left: 27px;
    }
    .header__buttons{
        margin-left: 52px;
        span{
            font-size: 25px;
            margin-left: 34px;
            margin-right: 34px;
        }
    }
    .header__cart{
        margin-left: 70px;
    }
}